{% load static %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="{% static 'assets/img/about.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Why was Tables created ?</h3>
                <p class="font-italic">
                    Tables was created to help people. To help those who are trying to find a nice place to
                    spend
                    a couple of hours at.
                </p>
                <ul>
                    <li><i class="icofont-check-circled"></i> Lightning-fast table booking
                    </li>
                    <li><i class="icofont-check-circled"></i> Menu available 24/7
                    </li>
                    <li><i class="icofont-check-circled"></i> Order from the app to your table
                    </li>
                    <li><i class="icofont-check-circled"></i> Order history
                    </li>
                    <li><i class="icofont-check-circled"></i> Helps you, helps the staff, helps the owner.
                        Everybody
                        wins!
                    </li>
                    <li><i class="icofont-check-circled"></i> No registration required!
                    </li>
                    <li><i class="icofont-check-circled"></i> Pay from the app
                    </li>
                </ul>
                <p>
                    No matter if you are looking for a classy restaurant, a café or a loud pub,
                    Tables has got you covered!
                    Going for a vacation abroad ? Find the highest rated places in the area from the get go.
                </p>
            </div>
        </div>

    </div>

</section><!-- End About Section -->
