<!-- ======= Footer ======= -->
{% load static %}
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Reach out to us</h3>
                        <h4>Contacts</h4>
                        <p>
                            Place <br>
                            Holder street 12<br><br>

                            <iframe style="border:0; width: 60vw; height: 250px;"
                                    src=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2733.0840368311538!2d23.57561470090341!3d46.76323998011658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490e86d9a75745%3A0xe238939d9f80bf9f!2zU3RyYWRhIFBpZXppyJnEgywgQ2x1ai1OYXBvY2EsIFJvbcOhbmlh!5e0!3m2!1shu!2sbg!4v1604306306997!5m2!1shu!2sbg"
                                    frameborder="0" allowfullscreen></iframe>
                            <br>

                            <strong>Phone Number:</strong> 0000 0000 0000<br>
                            <strong>Email Address:</strong> email_address@gmail.com<br>
                        </p>
                        <p><br> Follow us on social media</p>
                        <div class="social-links mt-3">
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer><!-- End Footer -->
