{% load static %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="{% url 'pages:home' %}">Tables</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="{% url 'pages:places' %}"> <i class="fas fa-chair"> </i> Places</a></li>
                <li><a href="{% url 'tray:my_tray' %}"><i class="fas fa-dollar-sign"></i> Your orders</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'accounts:register' %}"><i class="fas fa-feather-alt"></i> Register</a></li>
                    <li><a href="{% url 'accounts:login' %}"><i class="far fa-handshake"></i> Login</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:user_details' %}"><i class="fas fa-user-circle"></i> Account </a></li>
                    <li><a href="{% url 'accounts:logout' %}"><i class="fas fa-door-open"></i> Logout</a></li>
                {% endif %}
                <li><a href="{% url 'pages:home' %}"><i class="fas fa-info-circle"></i> About Us</a></li>

            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->

