{% extends 'page_parts/base.html' %}
{% load static %}

{% block title %}New Table{% endblock title %}

{% block headspace %}
    {{ block.super }}
    <link href="{% static 'register/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet"
          media="all">
    <!-- Icons font CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="" rel="stylesheet" media="all">
    <link href="{% static 'register/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">

    <!-- Vendor CSS-->

    <link href="{% static 'register/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'register/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'business/update_page/business_items/css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'business/articles/create/style.css' %}" rel="stylesheet" media="all">

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->



{% endblock headspace %}

{% block navbar %}
    {% include 'page_parts/navbar.html' %}
{% endblock navbar %}

{% block content %}

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio" data-aos="fade-up" data-aos-delay="300">
        <div class="container">
            <div class="cancel-button-div">
                <a style="text-align: center" href="{% url 'owned:tables_list' slug %}">
                    <button class="register-button btn btn--radius-2">Back</button>
                </a>

            </div>
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Create a Table</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>


            <div class="row justify-content-center">

                <!-- Table Tab -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto">
                        <div class=" d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="text-center text-white"></div>
                        </div>
                        <img class="img-fluid"
                             src="{% static 'img/table.png' %}"
                             alt=""/>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div style="background: red" id='alert-div' class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% else %}
                                <div id='alert-div' class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <div class="divider-custom" data-aos="fade-up" data-aos-delay="300">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="page-wrapper bg-gra-03 " data-aos="fade-up" data-aos-delay="300">
        <div class="wrapper wrapper--w790">
            <div class="card card-5" data-aos-delay="300" data-aos="fade-up">
                <div class="card-heading">
                    <h2 class="title"><i class="fas fa-scroll"></i> Table details <i
                            class="fas fa-feather-alt"></i></h2>

                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="name">Number</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.table_nr }}
                                    {{ form.table_nr.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="button-div">
                            <button class="register-button btn btn--radius-2 btn--red" type="submit">Create Table
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>


{% endblock content %}

{% block preloader %}
{% endblock %}


{% block bottomscript %}
    <!-- Jquery JS-->
    <script src="{% static 'register/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'register/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'register/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'register/vendor/datepicker/daterangepicker.js' %}"></script>

    <script src="{% static 'register/js/global.js' %}"></script>

{% endblock bottomscript %}