{% extends 'pages/base.html' %}
{% load static %}
{% block title %} Update {{ product.name }} {% endblock title %}

{% block contet %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update"/>
    </form>
    <a href="{% url 'owned:delete_product' product.business.slug product.pk %}">
        <button value="Delete" class="del-button">Delete Product</button>
    </a>

    <a href="{% url 'owned:products_list' product.business.slug %}">
        <button value="Delete" class="del-button">Back</button>
    </a>

{% endblock contet %}