{% extends 'page_parts/base.html' %}
{% load static %}

{% block title %}Your Staff{% endblock title %}

{% block headspace %}
    {{ block.super }}
    <link href="{% static 'register/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet"
          media="all">
    <!-- Icons font CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="" rel="stylesheet" media="all">
    <link href="{% static 'register/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">

    <!-- Vendor CSS-->

    <link href="{% static 'register/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'register/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'business/articles/list/upper/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'business/articles/list/table/style.css' %}" rel="stylesheet" media="all">

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <style>
        #alert-div {
            margin-left: auto;
            margin-right: auto;
            width: 70%
        }
    </style>




{% endblock headspace %}

{% block navbar %}
    {% include 'page_parts/navbar.html' %}
{% endblock navbar %}

{% block content %}

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio" data-aos="fade-up" data-aos-delay="300">
        <div class="container">
            <div class="cancel-button-div">
                <a style="text-align: center" href="{% url 'owned:business_update' slug %}">
                    <button class="register-button btn btn--radius-2">Back</button>
                </a>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div style="background: red;" id='alert-div'
                                 class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% else %}
                            <div id='alert-div' class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Staff and Admins</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="row justify-content-center">

                <!-- Staff Tab -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        </div>
                        <img class="img-fluid"
                             src="{% static 'img/waiterz.png' %}"
                             alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="divider-custom" data-aos="fade-up" data-aos-delay="300">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>


    <div class="invite-div" data-aos="fade-up">
        <h4
                class="page-section-heading text-center text-uppercase text-secondary mb-0 mt-5">Invite staff</h4>
        <p class="disabled text-center">Here you can invite staff to your place</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.username }}
            <button id="invite_button" type="submit" value="Invite">SEND INVITE</button>
        </form>
    </div>

    <div class="page-wrapper bg-gra-03 " data-aos="fade-up" data-aos-delay="300">
        <!-- Admins -->
        <h4 style="font-size: 25px"
            class="page-section-heading text-center text-uppercase text-secondary mb-0 mt-5"> {% if admins %}
            <i class="fas fa-chess-queen"></i> Current
            admins {% else %}<i class="fas fa-chess-queen"></i> No admins {% endif %}</h4>
        {% if admins %}
            <div class="wrapper wrapper--w790">
                <table id="article-table" style="background: orangered" class="table article-table">
                    <thead>
                    <tr>
                        <th scope="col">Add to staff</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Remove admin status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for admin in admins %}
                        <tr>

                            <th scope="row">{% if admin in staff %} Staff member {% else %}<a style="color:#FFE4B5;"
                                                                                              href="{% url 'owned:staff_list_update' slug=slug user_pk=admin.pk group=0 action=0 %}">
                                <p> Add to staff</p></a>
                            {% endif %}</th>

                            <td>{% if admin.first_name %} {{ admin.first_name }} {% else %}
                                - {% endif %}</td>

                            <td>{% if admin.last_name %}{{ admin.last_name }} {% else %} - {% endif %}</td>

                            <td>{{ admin.username }}</td>

                            <td>{% if admin.phone_number %}{{ admin.phone_number }} {% else %} - {% endif %}</td>

                            <td><a style="color:#FFE4B5;"
                                   href="{% url 'owned:staff_list_update' slug=slug user_pk=admin.pk group=1 action=1 %}">
                                <p><i
                                        class="fas fa-user-times"></i> Remove admin status</p></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        <!-- Invitations -->
        <h4 style="font-size: 25px"
            class="page-section-heading text-center text-uppercase text-secondary mb-0 mt-5">
            {% if pending_invitations %}
                <i class="fas fa-paper-plane"></i> Pending Invitations {% else %}<i class="fas fa-paper-plane"></i> No pending invitations {% endif %}
        </h4>
        {% if pending_invitations %}
            <div class="wrapper wrapper--w790">
                <table id="article-table" style="background: green" class="table article-table">
                    <thead>
                    <tr>
                        <th scope="col">Invited by</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Phone Number</th>
                        <th scope='col'>Cancel</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for inv in pending_invitations %}
                        <tr>
                            <th scope="row">{{ inv.from_user.username }}</th>
                            <th scope="row">{% if inv.to_user.first_name %} {{ inv.to_user.first_name }} {% else %}
                                - {% endif %}</th>
                            <td>{% if inv.to_user.last_name %}{{ inv.to_user.last_name }} {% else %} - {% endif %}</td>
                            <td>{{ inv.to_user.username }}</td>
                            <td>{% if inv.to_user.phone_number %}{{ inv.to_user.phone_number }} {% else %}
                                - {% endif %}</td>
                            <td><a href="{% url 'owned:cancel_invitation' slug=slug pk=inv.pk %}"><p
                                    style="color: black"><i class="fas fa-ban"></i> Cancel invitation</p></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        <!-- Staff -->
        <h4 style="font-size: 25px"
            class="page-section-heading text-center text-uppercase text-secondary mb-0 mt-5"> {% if staff %}
            <i class="fas fa-users"></i> Current
            staff {% else %}<i class="fas fa-users"></i> No staff is working at your place {% endif %}</h4>
        {% if staff %}
            <div class="wrapper wrapper--w790">
                <table id="article-table" class="table table-dark article-table">
                    <thead>
                    <tr>
                        <th scope="col">Add to admin</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Remove from staff</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in staff %}
                        <tr>
                            <th scope="row">{% if member not in admins %}
                                <a style="color: #FFE4B5;"
                                   href="{% url 'owned:staff_list_update' slug=slug user_pk=member.pk group=1 action=0 %}">
                                    <p>Promote to admin</p></a> {% else %}
                                <i class="fas fa-chess-queen"></i> Is Admin {% endif %}</th>
                            <td>{% if member.first_name %} {{ member.first_name }} {% else %}
                                - {% endif %}</td>
                            <td>{% if member.last_name %}{{ member.last_name }} {% else %} - {% endif %}</td>
                            <td>{{ member.username }}</td>
                            <td>{% if member.phone_number %}{{ member.phone_number }} {% else %} - {% endif %}</td>
                            <td>
                                <a href="{% url 'owned:staff_list_update' slug=slug user_pk=member.pk group=0 action=1 %}">
                                    <p
                                            style="color: red"><i
                                            class="fas fa-user-times"></i> Remove from staff</p></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}


        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>


{% endblock content %}

{% block preloader %}
{% endblock %}


{% block bottomscript %}
    <!-- Jquery JS-->
    <script src="{% static 'register/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'register/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'register/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'register/vendor/datepicker/daterangepicker.js' %}"></script>

    <script src="{% static 'register/js/global.js' %}"></script>

{% endblock bottomscript %}