{% extends 'page_parts/base.html' %}
{% load static %}

{% block title %}Your Invitations{% endblock title %}

{% block headspace %}
    {{ block.super }}
    <link href="{% static 'register/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet"
          media="all">
    <!-- Icons font CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="" rel="stylesheet" media="all">
    <link href="{% static 'register/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">

    <!-- Vendor CSS-->

    <link href="{% static 'register/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'register/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'business/articles/list/upper/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'business/articles/list/table/style.css' %}" rel="stylesheet" media="all">

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <style>
        #alert-div {
            margin-left: auto;
            margin-right: auto;
            width: 70%
        }
    </style>




{% endblock headspace %}

{% block navbar %}
    {% include 'page_parts/navbar.html' %}
{% endblock navbar %}

{% block content %}

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio" data-aos="fade-up" data-aos-delay="300">
        <div class="container">
            <div class="cancel-button-div">
                <a style="text-align: center" href="{% url 'accounts:user_details' %}">
                    <button class="register-button btn btn--radius-2">Back</button>
                </a>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div style="background: red;" id='alert-div'
                                 class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% else %}
                            <div id='alert-div' class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Your Invitations</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="row justify-content-center">

                <!-- Invitation -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        </div>
                        <img class="img-fluid"
                             src="{% static 'img/invitation.png' %}"
                             alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="divider-custom" data-aos="fade-up" data-aos-delay="300">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>


    <div class="page-wrapper bg-gra-03 " data-aos="fade-up" data-aos-delay="300">
        <!-- Invitations -->
        <h4 style="font-size: 25px"
            class="page-section-heading text-center text-uppercase text-secondary mb-0 mt-5"> {% if invitations %}
            <i class="fas fa-paper-plane"></i> Review Invitations {% else %}<i class="fas fa-paper-plane"></i> No
            pending invitations {% endif %}</h4>
        {% if invitations %}
            <div class="wrapper wrapper--w790">
                <table style="background: black" id="article-table" class="table article-table">
                    <thead>
                    <tr>
                        <th scope="col">From</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Place</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Accept</th>
                        <th scope="col">Decline</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for inv in invitations %}
                        <tr>
                            <th scope="row">{{ inv.from_user.username }}</th>

                            <td>{% if inv.from_user.first_name %} {{ inv.from_user.first_name }} {% else %}
                                - {% endif %}</td>

                            <td>{% if inv.from_user.last_name %}{{ inv.from_user.last_name }} {% else %}
                                - {% endif %}</td>

                            <td>{{ inv.business }}</td>

                            <td>{% if inv.from_user.phone_number %}{{ inv.from_user.phone_number }} {% else %}
                                - {% endif %}</td>

                            <td><a href="{% url 'accounts:invitation_action' inv.id 1 %}"><p><i
                                    class="fas fa-handshake"></i> Accept Invite</p></a></td>
                            <td><a href="{% url 'accounts:invitation_action' inv.id 0 %}"><p><i class="fas fa-ban"></i>
                                Decline</p></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>


{% endblock content %}

{% block preloader %}
{% endblock %}


{% block bottomscript %}
    <!-- Jquery JS-->
    <script src="{% static 'register/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'register/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'register/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'register/vendor/datepicker/daterangepicker.js' %}"></script>

    <script src="{% static 'register/js/global.js' %}"></script>

{% endblock bottomscript %}