<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Tables - Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href=" {% static 'login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
    <link href="{% static 'Ry/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'Ry/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'Ry/vendor/aos/aos.css' %}" rel="stylesheet">
    <script src="{% static 'js/main.js' %}"></script>
    <!--===============================================================================================-->
</head>
<body>
{% include 'page_parts/navbar.html' %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-40 p-b-20" data-aos="fade-up" data-aos-delay="300">
            <form method="POST">
                {% csrf_token %}
                <span class="login100-form-title p-b-70">
						Welcome to Tables
					</span>
                <span class="login100-form-avatar">
						<img src="{% static 'login/images/juggle.png' %}" alt="AVATAR">
					</span>
                {% if form.errors %}
                    <p id='form-error' class="alert alert-info alert-danger">Whoops. Username or password incorrect</p>
                {% endif %}
                {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div style="background: red" id='alert-div' class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% else %}
                                <div id='alert-div' class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username">
                    {{ form.username }}
                    <span class="focus-input100" data-placeholder="Username"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                    {{ form.password }}
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

                <ul class="login-more p-t-190">
                    <li class="m-b-8">
							<span class="txt1">
								Forgot
							</span>

                        <a href="{% url 'accounts:password_reset' %}" class="txt2">
                            Username / Password?
                        </a>
                    </li>

                    <li>
							<span class="txt1">
								Don’t have an account?
							</span>

                        <a href="{% url 'accounts:register' %}" class="txt2">
                            Register
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>


<!--===============================================================================================-->
<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'login/js/main.js' %}"></script>

<script src="{% static 'Ry/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'Ry/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'Ry/vendor/aos/aos.js' %}"></script>
<script src="{% static 'Ry/js/main.js' %}"></script>

</body>
</html>