{% extends 'page_parts/base.html' %}
{% load static %}
{% block title %} Reset Your Password - Email Sent{% endblock title %}
{% block headspace %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
{% endblock headspace %}

{% block navbar %}
    {% include 'page_parts/navbar.html' %}
{% endblock navbar %}


{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-85 p-b-20" data-aos="fade-up" data-aos-delay="300">
                <span class="login100-form-avatar">
                    <img src="{% static 'login/images/sent_png.png' %}" alt="AVATAR">
                </span>
                <span class="login100-form-title p-b-70">
                    Success!<br>
                    A password recovery mail has been sent.
                    <br>
                    <a style="color: orangered" href="{% url 'accounts:login' %}">Back to login</a>
                </span>
            </div>
        </div>
    </div>
{% endblock content %}