{% extends 'page_parts/base.html' %}
{% load static %}
{% block title %} Reset Your Password {% endblock title %}
{% block headspace %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
{% endblock headspace %}

{% block navbar %}
    {% include 'page_parts/navbar.html' %}
{% endblock navbar %}



{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-85 p-b-20" data-aos="fade-up" data-aos-delay="300">
                <form method="POST">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-70">
						Reset your password
					</span>
                    {{ form.email.errors }}

                    <span class="login100-form-avatar">
						<img src="{% static 'login/images/enter_mail.png' %}" alt="AVATAR">
					</span>

                    <span style="font-size: 20px" class="login100-form-title">
						Please enter your mail below
					</span>
                    <div class="wrap-input100 m-t-20 m-b-35 form-control form-control-lg ">
                        {{ form.email }}
                    </div>

                    <div class="container-login100-form-btn">
                        <button style="color:#FFE4B5" class="login100-form-btn">
                            Request Password Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}