{% extends 'index.html' %}
{% load static %}

{% block topbar %}
{% endblock topbar %}

{% block navbar %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="#about">About Us</a></li>
    <li><a href="{% url 'places' %}">Places</a></li>
    <li><a href="#gallery">The Author</a></li>
    <li><a href="#contact">Contact</a></li>
    {% if not user.is_authenticated %}
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    <li><a href="#specials">Your orders</a></li>
{% endblock navbar %}

{% block limit %}
{% endblock limit %}




{#{% block footer %}#}
{##}
{##}
{#    {% if user.is_authenticated %}#}
{#        <a href="{% url "user_details" %}">#}
{#            <button type="button">Your businesses</button>#}
{#        </a>#}
{#    {% endif %}#}
{##}
{#    <a href="{% url "places" %}">#}
{#        <button type="button">Places</button>#}
{#    </a>#}
{##}
{#{% endblock footer %}#}