{% extends 'page_parts/base.html' %}
{% load static %}

{% block title %} Tables - Under construction {% endblock title %}

{% block topbar %}
    {% include 'page_parts/topbar.html' %}
{% endblock topbar %}


{% block navbar %}
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto"><a href="{% url 'home' %}">Tables</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a href="#hero">Home</a></li>
                    <li><a href="#about">What is Tables ?</a></li>
                    <li><a href="#footer">Contact</a></li>
                    <li><a href="{% url 'places' %}">Places</a></li>
                    <li><a href="{% url 'tray:my_tray' %}">Your orders</a></li>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% else %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->

{% endblock navbar %}


{% block content %}
    {% include 'page_parts/welcome_page.html' %}
    {% include 'page_parts/about.html' %}
{% endblock content %}


{% block footer %}
    {% include 'page_parts/footer.html' %}
{% endblock footer %}
