{% extends 'page_parts/base.html' %}
{% load static %}

{% block title %} {{ place.business_name }} - UNDER CONSTRUCTION {% endblock title %}

{% block topbar %}
{% endblock topbar %}


{% block headspace %}
    <link href="{% static 'places/css/place_detail.css' %}" rel="stylesheet">
{% endblock headspace %}
{% block navbar %}
    {% include 'page_parts/navbar.html' %}
{% endblock navbar %}


{% block content %}
    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>{{ place.business_name }}</h2>
                <br>
                {% if not current_order.business == place.slug %}

                    <div class="simulation d-flex justify-content-center">
                        {% for table in tables %}
                            <a href="{% url 'tray:generate_order' place.slug table.table_nr %}">
                                <button style="background: #FFE4B5;color: orangered" id="redirect_button"><i
                                        class="fas fa-cog"></i> Generate order - {{ table.table_nr }}
                                </button>
                            </a>
                        {% endfor %}
                    </div>

                {% else %}
                    <div class=" simulation d-flex justify-content-center">
                        <a href="{% url 'tray:cancel_order' clear=0 %}">
                            <button style="background: #FFE4B5;color: orangered" id="redirect_button"><i
                                    class="fas fa-power-off"></i>
                                Free Table
                            </button>
                        </a>
                    </div>
                {% endif %}

            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="menu-flters">

                        <li data-filter="*" class="filter-active">All</li>

                        {% for category in categories %}
                            <li data-filter=".filter-{{ category.slug }}">{{ category.category_name }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            {% if current_order %}
                <div class="d-flex justify-content-center">
                    <a id='next-link' href="{% url 'tray:my_tray' %}">
                        <button id='redirect_button'>Order Summary<i class="fas fa-forward"></i></button>
                    </a>
                </div>
            {% endif %}

            <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

                {% for product in products %}
                    <div class="col-lg-6 menu-item filter-{{ product.category.slug }}">
                        <img src="{% static 'restaurant.png' %}" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">{{ product.name }}</a><span>{{ product.price }}</span>
                        </div>
                        <div class="menu-ingredients">
                            {{ product.description }}
                        </div>
                        {% if current_order.business == place.slug %}

                            {% if product.pk not in on_the_tray %}
                                <button data-productid="{{ product.id }}" data-action="add"
                                        class="add-to-tray" id="add-to-tray">Add to order
                                </button>
                            {% else %}
                                <button data-productid="{{ product.id }}" data-action="remove"
                                        class="add-to-tray" id="add-to-tray" style="background: orangered">Remove from
                                    order
                                </button>
                            {% endif %}

                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </section><!-- End Menu Section -->


    <!-- About Section -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">
                        <img src="{% static 'Ry/img/about.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>{{ place.business_name }}</h3>
                    <p>

                        {{ place.short_description }}<br>

                        profile pic =============><br>
                        <br>
                        longer description goes here
                    </p>
                </div>
            </div>

        </div>

    </section><!-- End About Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <p>Gallery</p>
            </div>
        </div>

        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'Ry/img/gallery/gallery-1.jpg' %}" class="venobox" data-gall="gallery-item">
                            <img src="{% static 'Ry/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'Ry/img/gallery/gallery-1.jpg' %}" class="venobox" data-gall="gallery-item">
                            <img src="{% static 'Ry/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'Ry/img/gallery/gallery-1.jpg' %}" class="venobox" data-gall="gallery-item">
                            <img src="{% static 'Ry/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'Ry/img/gallery/gallery-1.jpg' %}" class="venobox" data-gall="gallery-item">
                            <img src="{% static 'Ry/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'Ry/img/gallery/gallery-1.jpg' %}" class="venobox" data-gall="gallery-item">
                            <img src="{% static 'Ry/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'Ry/img/gallery/gallery-1.jpg' %}" class="venobox" data-gall="gallery-item">
                            <img src="{% static 'Ry/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Gallery Section -->

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block bottomscript %}
    <script src="{% static 'js/add_remove_product.js' %}"></script>
{% endblock bottomscript %}
