{% extends 'page_parts/base.html' %}
{% load static %}

{% block title %} Pick a place - Under Construction{% endblock %}

{% block headspace %}
    <link href="{% static 'places/css/places_list_style.css' %}" rel="stylesheet">
{% endblock headspace %}

{% block topbar %}
{% endblock topbar %}


{% block navbar %}

    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto"><a href="{% url 'pages:home' %}">Tables</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block">
                <ul>

                    <li><a href="{% url 'pages:home' %}">Home</a></li>
                    <li><a href="{% url 'pages:places' %}">Places</a></li>
                    <li><a href="{% url 'tray:my_tray' %}">Your orders</a></li>

                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% else %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}

                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
{% endblock navbar %}


{% block content %}

    <section id="places" class="places" style="margin-top: 20vh;height: 300%">

        <div class="container" data-aos="fade-up">

            <div style="margin-bottom: 30px" class="section-title">
                <p class="font-italic">Pick a place, we'll do the rest.</p>
            </div>


            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-4">
                    <ul class="nav nav-tabs flex-column ">
                        {% for business in businesses %}
                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"
                               href="#{{ business.slug }}">{{ business.business_name }}</a>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-8 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Search for a place</h3>
                                    <p class="font-italic">Tap on the name ! and see what happens</p>

                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{% static 'img/beer.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        {% for business in businesses %}
                            <div class="tab-pane" id="{{ business.slug }}">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>
                                            <a href="{% url 'pages:place_detail' business.slug %}">{{ business.business_name }}</a>
                                        </h3>
                                        <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente
                                            dila
                                            parde sonata raqer a videna mareta paulona marka</p>
                                        <iframe style="margin-top: 3%;border:0; width: 100%; height: 400px; border-radius: 50px"
                                                src=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2733.0840368311538!2d23.57561470090341!3d46.76323998011658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490e86d9a75745%3A0xe238939d9f80bf9f!2zU3RyYWRhIFBpZXppyJnEgywgQ2x1ai1OYXBvY2EsIFJvbcOhbmlh!5e0!3m2!1shu!2sbg!4v1604306306997!5m2!1shu!2sbg"
                                                frameborder="0" allowfullscreen></iframe>
                                        <!-- stuff in plus goes here GEOLOC -->

                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ business.category.icon.url }}"
                                             alt="" class="img-fluid"
                                             style="margin-bottom: 3%; height: 230px;">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block footer %}
{% endblock footer %}
