{% extends 'pages/base.html' %}
{% load static %}


{% block title %} {{ place.business_name }} {% endblock title %}

{% block contet %}
    <p>Name > {{ place.business_name }}</p>
    <p>{% if place.is_open_now %}Open Now {% else %}Closed{% endif %}</p>
    <p>Address > {{ place.address }}</p>
    <p>Description > {{ place.short_description }}</p>
    <p>Phone nr. > {{ place.phone_nr }}</p>
    <p>Email > {{ place.email }}</p>
    <p>All tables > {{ place.all_tables }}</p>
    <p>Available tables > {{ place.available_tables }}</p>
    <p>Owner > {{ place.manager }}</p>

{% endblock contet %}

{% block footer %}
    {{ block.super }}
    <a href="{% url "places" %}">
        <button type="button">Back to Places</button>
    </a>

{% endblock footer %}