{% extends 'pages/base.html' %}
{% load static %}


{% block title %} {{ place.business_name }} {% endblock title %}

{% block contet %}
    {% if not ordering_from.business == place.slug %}
        <a href="{% url 'pages:generate_order' place.slug %}">Place Order</a>
    {% else %}
        <p>Currently ordering from <b>{{ place.business_name }}</b></p>
        <p><a href="{% url 'tray:cancel_order' clear=0 %}">Cancel</a> order</p>
    {% endif %}
    <p>Name > {{ place.business_name }}</p>
    <p>{% if place.is_open_now %}Open Now {% else %}Closed{% endif %}</p>
    <p>Address > {{ place.address }}</p>
    <p>Description > {{ place.short_description }}</p>
    <p>Phone nr. > {{ place.phone_nr }}</p>
    <p>Email > {{ place.email }}</p>
    <p>All tables > {{ place.all_tables }}</p>
    <p>Available tables > {{ place.available_tables }}</p>
    <p>Owner > {{ place.manager }}</p>
    <h4>Products</h4>
    <div>
        {% for product in products %}
            <p>{{ product.name }}</p>
            <p>{{ product.description }}</p>
            {% if ordering_from.business == place.slug %}
                {% if product.pk not in tray %}
                    <a href="{% url 'tray:add_remove' place.slug product.pk %}">Add to order</a>
                {% else %}
                    <p>On the tray</p>{% endif %}
            {% endif %}
            <hr>
        {% endfor %}
    </div>
{% endblock contet %}
